<!-- ============================================ --><!--                    Hero                      --><!-- ============================================ -->
<section id="hero-227">
  <div class="cs-container">
    <div class="cs-flex-group">
      <span class="cs-topper">mountain hiking society</span>
      <h1 class="cs-title">Explore the World with Exciting People</h1>
      <p class="cs-text">
        Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius.
        Nibh tortor id aliquet lectus proin nibh condimentum.
      </p>
      <a href="" class="cs-button-solid">Explore More</a>
      <a href="" class="cs-button-transparent">
        <img
          class="cs-img"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
          alt="play icon"
          width="17"
          height="17"
          aria-hidden="true"
        />
         Learn More
      </a>
    </div>
    <!--Service Cards-->
    <ul class="cs-card-group">
      <li class="cs-item">
        <a class="cs-link" href="">
          <span class="cs-number">01</span>
          <h2 class="cs-h2">Choose Place Activity and Time</h2>
          <p class="cs-item-text">
            Dui sapien eget mi proin sed libero enim sed. Commodo elit at
            imperdiet dui accumsan sit amet nulla facilisi.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link" href="">
          <span class="cs-number">01</span>
          <h2 class="cs-h2">Find People With The Same Ideas</h2>
          <p class="cs-item-text">
            Dui sapien eget mi proin sed libero enim sed. Commodo elit at
            imperdiet dui accumsan sit amet nulla facilisi.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a class="cs-link" href="">
          <span class="cs-number">01</span>
          <h2 class="cs-h2">Start Chat And Ask Them To Go</h2>
          <p class="cs-item-text">
            Dui sapien eget mi proin sed libero enim sed. Commodo elit at
            imperdiet dui accumsan sit amet nulla facilisi.
          </p>
        </a>
      </li>
    </ul>
  </div>

  <!-- Background Image -->
  <picture class="cs-picture">
    <source
      media="(max-width: 600px)"
      srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background-m.jpg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background.jpg"
    />
    <img
      decoding="async"
      src="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background.jpg"
      alt="mountains"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>

<style>
  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #hero-227 {
      /* Centers button */
      text-align: center;
      /* changes on tablet */
      padding: 0 1rem;
      position: relative;
      z-index: 1;
      /* prevents overflow from the lines extending past the screen width */
      overflow: hidden;
    }
    #hero-227 .cs-picture {
      /* Background Image */
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }
    #hero-227 .cs-picture:before {
      /* Black Color Overlay */
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.6;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
      /* prevents the cursor from interacting with it */
      pointer-events: none;
    }
    #hero-227 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes image act like a background-image */
      object-fit: cover;
    }
    #hero-227 .cs-container {
      width: 100%;
      max-width: 80rem;
      /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
      /* 144px - 300px - leaving extra space for the navigation */
      /* changes on tablet */
      padding: clamp(9rem, 25.95vw, 18.75rem) 0 0;
      /* 60px - 200px */
      padding-bottom: clamp(3.75rem, 12.5vw, 25rem);
      margin: auto;
      position: relative;
    }
    #hero-227 .cs-container:before {
      /* Left Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
        top,
        rgba(250, 251, 252, 0.5) 0%,
        rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
        top,
        rgba(250, 251, 252, 0.5) 0%,
        rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }
    #hero-227 .cs-flex-group {
      /* 60px - 220px */
      margin-bottom: clamp(3.75rem, 15.5vw, 13.75rem);
      /* changes on tablet */
      margin-left: 1rem;
      width: 80vw;
      /* 464px - 562px */
      max-width: clamp(29rem, 60vw, 35.125rem);
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      box-sizing: border-box;
    }
    #hero-227 .cs-topper {
      /* 13px - 16px */
      font-size: clamp(0.8125rem, 1.6vw, 1rem);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: 0.1rem;
      font-weight: 700;
      color: var(--primaryLight);
      margin-bottom: 1rem;
      display: block;
    }
    #hero-227 .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: left;
      width: 100%;
      /* 32px - 40px */
      margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
      color: var(--bodyTextColorWhite);
      position: relative;
    }
    #hero-227 .cs-text {
      /* 16px - 20px */
      font-size: clamp(1rem, 1.95vw, 1.25rem);
      line-height: 1.5em;
      text-align: left;
      width: 100%;
      /* 32px - 40px */
      margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
      /* 40px - 48px */
      margin-bottom: clamp(2.5rem, 4vw, 3rem);
      color: var(--bodyTextColorWhite);
    }
    #hero-227 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      width: 11.25rem;
      text-decoration: none;
      font-weight: 700;
      margin: 0 1.25rem 1rem 0;
      color: #fff;
      padding: 0;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
    }
    #hero-227 .cs-button-solid:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #hero-227 .cs-button-solid:hover:before {
      width: 100%;
    }
    #hero-227 .cs-button-transparent {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      width: 11.25rem;
      /* 46px - 56px */
      height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      margin: 0;
      color: #fff;
      padding: 0;
      background-color: transparent;
      border: 1px solid var(--bodyTextColorWhite);
      box-sizing: border-box;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
    }
    #hero-227 .cs-button-transparent:before {
      content: "";
      position: absolute;
      display: block;
      background: #000;
      opacity: 1;
      /* so it sits on top of the border */
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      z-index: -1;
      transform-origin: left;
      /* this is what creates the grow affect on hover */
      transform: scaleX(0);
      transition: transform 0.3s;
    }
    #hero-227 .cs-button-transparent:hover:before {
      transform: scaleX(1);
    }
    #hero-227 .cs-button-transparent .cs-img {
      display: block;
      margin-right: 0.75rem;
    }
    #hero-227 .cs-card-group {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    #hero-227 .cs-item {
      list-style: none;
      position: relative;
      box-sizing: border-box;
    }
    #hero-227 .cs-item:before {
      /* Top Line */
      content: "";
      width: 100vw;
      height: 1px;
      background: -moz-linear-gradient(
        left,
        rgba(250, 251, 252, 0.5) 0%,
        rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
        left,
        rgba(250, 251, 252, 0.5) 0%,
        rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    #hero-227 .cs-item:last-of-type:after {
      /* Bottom line on last card */
      content: "";
      width: 100vw;
      height: 1px;
      background: -moz-linear-gradient(
        left,
        rgba(250, 251, 252, 0.5) 0%,
        rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
        left,
        rgba(250, 251, 252, 0.5) 0%,
        rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    #hero-227 .cs-link {
      text-align: left;
      text-decoration: none;
      /* changes on tablet */
      padding: 1.75rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
    }
    #hero-227 .cs-link:hover:before {
      opacity: 0.4;
    }
    #hero-227 .cs-link:before {
      /* Hover Box */
      content: "";
      width: 100%;
      height: 100%;
      background: var(--primary);
      opacity: 0;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: -1;
      transition: opacity 0.3s;
    }
    #hero-227 .cs-number {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 900;
      /* 24px - 32px */
      margin-bottom: clamp(1.5rem, 4vw, 2rem);
      color: var(--primaryLight);
      display: block;
    }
    #hero-227 .cs-h2 {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      font-weight: 900;
      line-height: 1.2em;
      padding: 0;
      margin: 0;
      margin-bottom: 1rem;
      color: var(--bodyTextColorWhite);
      position: relative;
      z-index: 10000;
    }
    #hero-227 .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 3vw, 1rem);
      margin: 0;
      padding: 0;
      max-width: 31.25rem;
      color: var(--bodyTextColorWhite);
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #hero-227 {
      /* 32px - 40px */
      padding: 0 clamp(2rem, 5vw, 2.5rem);
    }
    #hero-227 .cs-container {
      padding-bottom: 4rem;
    }
    #hero-227 .cs-container:after {
      /* Right Line */
      content: "";
      width: 1px;
      height: 100%;
      background: -moz-linear-gradient(
        top,
        rgba(250, 251, 252, 0) 0%,
        rgba(250, 251, 252, 0.5) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
        top,
        rgba(250, 251, 252, 0) 0%,
        rgba(250, 251, 252, 0.5) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
    }
    #hero-227 .cs-flex-group {
      /* 44px - 88px */
      margin-left: clamp(2.75rem, 5.9vw, 5.5rem);
    }
    #hero-227 .cs-button-solid {
      margin-bottom: 0;
    }
    #hero-227 .cs-card-group {
      flex-direction: row;
      position: relative;
    }
    #hero-227 .cs-card-group:before {
      /* Top Line */
      content: "";
      /* make it extend past the left and right of the screen */
      width: 150vw;
      height: 1px;
      background: -moz-linear-gradient(
        left,
        rgba(250, 251, 252, 0.5) 0%,
        rgba(250, 251, 252, 0) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
        left,
        rgba(250, 251, 252, 0.5) 0%,
        rgba(250, 251, 252, 0) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      /* these two properties center the line horizontally */
      left: 50%;
      transform: translateX(-50%);
    }
    #hero-227 .cs-item:before {
      width: 1px;
      height: 100vh;
      background: -moz-linear-gradient(
        top,
        rgba(250, 251, 252, 0) 0%,
        rgba(250, 251, 252, 0.5) 100%
      );
      /* FF3.6-15 */
      background: -webkit-linear-gradient(
        top,
        rgba(250, 251, 252, 0) 0%,
        rgba(250, 251, 252, 0.5) 100%
      );
      /* Chrome10-25,Safari5.1-6 */
      top: auto;
      left: auto;
      right: 0;
      bottom: -4rem;
    }
    #hero-227 .cs-item:nth-of-type(1) {
      /* makes the first line under the buttons shorter */
    }
    #hero-227 .cs-item:nth-of-type(1):before {
      height: 39.375rem;
    }
    #hero-227 .cs-item:last-of-type:before,
    #hero-227 .cs-item:last-of-type:after {
      display: none;
    }
    #hero-227 .cs-link {
      /* 44px - 64px top & bottom, 48px - 88px left & right */
      padding: clamp(2.75rem, 5.9vw, 5.5rem) clamp(3rem, 5.9vw, 5.5rem);
    }
  }
  /* Desktop Parallax Effect - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #hero-227 {
      background: url("https://csimg.nyc3.digitaloceanspaces.com/Hero/Background.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* creates parallax effect on background image */
      background-attachment: fixed;
      /* remove img tag so we can make parallax work */
    }
    #hero-227 .cs-picture img {
      display: none;
    }
  }
</style>
